{
	"extends": "rallycoding",
	"rules": {
		"semi": ["error", "never"],
		"react/require-extension": "off",
		"arrow-body-style": 0,
		"no-undef": 0,
		"no-unused-vars": 1,
		"object-curly-spacing": 0,
		"brace-style": 0
	}
}